.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @media (max-width: 839px) {
    flex-direction: column;
    margin-top: 150px;
  }

  &__vs {
    cursor: default;
    background: var(--yello);
    height: 40px;
    width: 40px;
    font-size: larger;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    transition: 0.75s ease-out all;

    &:hover {
      transform: scale(1.1);
    }
  }
}
