@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Serif", serif;

  --darkest: #242423;
  --dark: #333533;
  --accent: #f5cb5c;
  --light: #4f5854;
  --lighter: #e8eddf;
}

.app {
  height: 100vh;
  background: var(--light);
}
