@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");

* {
  --yello: #ff9b00;
  --blu: #0a0738;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Serif", serif;
}

.app {
  height: 100vh;
  background: black;
  display: flex;
  // overflow: hidden;

  @media (max-width: 839px) {
    flex-direction: column;
  }

  & > :not(.nav) {
    flex: 1;
    background: radial-gradient(var(--blu), black);
  }
}
